<div class="panel panel-success plain toggle panelMove panelClose panelRefresh">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-check"></i>Triagem de Paciente</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group recent-comments">
            <li class="list-group-item clearfix comment-success">
                <div class="avatar pull-left mr15">
                    <img src="/assets/img/avatars/4.jpg" alt="avatar">
                </div>
                <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> Very happy with your support is really great, keep that quality.</p>
                <span class="date text-muted small pull-left">Dec 18, 2014, 4:24 pm</span>
                <a href="#" class="see-more small pull-right">View comment</a>
            </li>
            <li class="list-group-item clearfix comment-default">
                <div class="avatar pull-left mr15">
                    <img src="/assets/img/avatars/2.jpg" alt="avatar">
                </div>
                <p class="text-ellipsis"><span class="name strong">Jonh: </span> Fine items but you could invest more time.</p>
                <span class="date text-muted small pull-left">Dec 18, 2014, 12:11 pm</span>
                <a href="#" class="see-more small pull-right">View comment</a>
            </li>
            <li class="list-group-item clearfix comment-info">
                <div class="avatar pull-left mr15">
                    <img src="/assets/img/avatars/3.jpg" alt="avatar">
                </div>
                <p class="text-ellipsis"><span class="name strong">Dina Dowsen: </span> Awesome items, really fast delivery.</p>
                <span class="date text-muted small pull-left">Dec 18, 2014, 8:17 pm</span>
                <a href="#" class="see-more small pull-right">View comment</a>
            </li>
            <li class="list-group-item clearfix comment-warning">
                <div class="avatar pull-left mr15">
                    <img src="/assets/img/avatars/6.jpg" alt="avatar">
                </div>
                <p class="text-ellipsis"><span class="name strong">Matt: </span> I`m not impressed but is fine.</p>
                <span class="date text-muted small pull-left">Dec 17, 2014, 6:24 pm</span>
                <a href="#" class="see-more small pull-right">View comment</a>
            </li>
            <li class="list-group-item clearfix comment-danger">
                <div class="avatar pull-left mr15">
                    <img src="/assets/img/avatars/5.jpg" alt="avatar">
                </div>
                <p class="text-ellipsis"><span class="name strong">Ben Simpson: </span> This is worst item i ever seen.</p>
                <span class="date text-muted small pull-left">Dec 16, 2014, 1:20 pm</span>
                <a href="#" class="see-more small pull-right">View comment</a>
            </li>
        </ul>
    </div>
</div>
<!-- End .panel -->
