<app-top-sidebar>
</app-top-sidebar>

<div id="wrapper">


    <app-left-sidebar></app-left-sidebar>

    <app-right-sidebar></app-right-sidebar>

    <div class="page-content sidebar-page right-sidebar-page clearfix">

        <div class="page-content-wrapper">
            <div class="page-content-inner">

                <router-outlet></router-outlet>

            </div>
        </div>

    </div>
</div>


<app-footer></app-footer>


<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
